#put this in a div to style

<form method= "POST" action="/sign-in">
  <label for="fname">Username</label>
  <input type="text" name="fname">
  <label for="password">Password</label>
  <input type="password" name="password">
  <input type="submit">
 </form>

